@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 400 1rem "Inter", sans-serif;
}

@layer base {
  html {
    --background: #ffffff;
    --sub-background: #f9fafb;
    --title: #111827;
    --text: #4b5563;
    --label: #e5e7eb;
    --card-background: #ffffff;
  }

  html[class="dark"] {
    --background: #030712;
    --sub-background: #111827;
    --title: #f9fafb;
    --text: #d1d5db;
    --label: #374151;
    --card-background: #1f2937;
  }
}
